<p>part2 works!</p>
<div>
    <form [formGroup]="formData">
        Name: <br>
        <input type="text" formControlName="name">
        <br>
        Phone: <br>
        <input type="text" formControlName="phone" >
        <br>
        Email: <br>
        <input type="text" formControlName="email" >
        <br>
        Password: <br>
        <input type="password" formControlName="password" >
        <br><br>
        <button (click)="addformdata()" class="link" >Submit</button>
      </form> 
</div>